# Core dependencies
Django>=5.0,<5.1

# Data visualization
plotly
numpy
pandas

# Requests for API calls
requests

# Environment variables (optional)
python-dotenv

# Database (Remove `psycopg2-binary` if using SQLite)
psycopg2-binary

# Additional Django utilities
django-environ
